.header {
  margin: 0 auto;
  background: $semi-text-color;
  max-width: 1200px;
  line-height: 1.19;
  color: $header-color;
  display: flex;
  padding: 24px 0px 25px 0px;
  border-bottom: solid 1px #ececec;
}
